.d3Hierarchy .node.non-leaf {
	cursor: pointer;
}

.d3Hierarchy .node circle {
	stroke: steelblue;
	stroke-width: 1.5px;
}

.d3Hierarchy .node.leaf circle {
	fill: #fff;
}

.d3Hierarchy .node.non-leaf circle {
	fill: lightsteelblue;
}

.d3Hierarchy .node text {
	font-size: 11px;
}

.d3Hierarchy path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}
